@page
@model FoodTrackerApp.Pages.BlackListed.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@Html.DisplayNameFor(model => model.BlacklistedFood.CreatedOn)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlacklistedFood.Foods)
            </th>
        </tr>
    </thead>
    <tbody>
    @*    @foreach (var item in Model.BlacklistedFood.Foods)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
            </tr>
        }*@
    <td>
        <a asp-page="./Edit" asp-route-id="@Model.BlacklistedFood.UserId">Edit</a> |
        <a asp-page="./Details" asp-route-id="@Model.BlacklistedFood.UserId">Details</a> |
        <a asp-page="./Delete" asp-route-id="@Model.BlacklistedFood.UserId">Delete</a>
    </td>
    </tbody>
</table>
