@page
@model FoodTrackerApp.Pages.BlackListed.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (!Model.BlacklistedFood.Any())
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}else {

    <p>
        <a asp-page="Create">Add New</a>
    </p>
}

<table class="table">
      <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlacklistedFood[0].Food.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlacklistedFood[0].CreatedOn)
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        @foreach (var item in Model.BlacklistedFood)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Food.FoodName)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
